
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-flat" %>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-flat" %>
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>

  <div class="row">
    <% @lists.each do |list| %>
      <%= list.name %>
    <% end %>
  </div>
  <div class="row">
    <% @movies.each do |movie| %>
      <%= movie.title %>
    <% end %>
  </div>


    <%# aficher tout  les films %>
    <%# creer la liste des films %>
    <%# aficher la liste des films cree%>
